h1  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:#134b5f;
    background-color:#a8d5e5;
}

h2  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:#134b5f;
    background-color:#a8d5e5;
}

p  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:#134b5f;
    background-color:#a8d5e5;
}


/* this is a comment tag */